
<style>
#header-cont{
    width:100%;
    position:fixed;
    top:0px;
}

#header {
    background-color:#129793;
    color:#FFFFCC;
    text-align:left;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#97ccbb;
    height:520px;
    width:200px;
    float:left;
    padding:5px;	      
}
#section {
    background-color:#adb5b3;
    color:#cc96a7;
    height:520px;
    width:800px;
    float:left;
    padding:5px;	 	 
}
#aside {
    line-height:30px;
    background-color:#97ccbb;
    height:520px;
    width:200px;
    float:left;
    padding:5px;	      
}

#footer {
    background-color:#129793;
    color:#FFFFCC;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
</style>
